main {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    position: sticky;
    height: 40px;
    top: 80px;
    z-index: 9999;
    background-color: white;

    a {
        color: var(--accent-color);
        text-decoration: none;
        font-weight: 900;
        height: 40px;
        align-content: center;
        &:hover {
            color: var(--accent-color-hover);
        }
    }
}

#display {
    width: 100%;
    height: 100%;
    scrollbar-color: #f0f0f0 transparent;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    #serverInfo {
        display: flex;
        gap: 1rem;
        align-items: center;
        align-items: stretch;

        #server {
            display: flex;
            padding: 28px;
            align-items: center;
            gap: 1rem;
            background-color: #f0f0f0;
            box-shadow: 2px 2px #dfdfdf;
            flex-grow: 1;
            height: 146.4px;
    
            #serverIcon {
                border-radius: 100%;
                background-color: white;
                border: 2px solid var(--accent-color);
                width: 100px;
                height: 100px;
            }
    
            #serverName {
                margin: 0;
            }
        }

        >.section {
            flex-grow: 1;
        }
    }

    .section {
        background-color: #f0f0f0;
        padding: 28px;
        box-shadow: 2px 2px #dfdfdf;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 200ms;
        animation-fill-mode: forwards;

        h3 {
            margin: 0;
            font-weight: 800;
        }

        #basicInfo,
        #settings {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0.5rem;

            .infoStat {
                min-width: calc(25% - 0.5rem);
            }

            .infoButtons,
            .settingsButtons {
                min-width: 100%;
                display: flex;
                gap: 0.5rem;
            }

            .setting {
                min-width: calc(50% - 0.5rem);
                display: flex;
                flex-direction: column;
            }
        }


    }
}

button,
input {
    appearance: none;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    transition: box-shadow 200ms, transform 200ms, background-color 200ms;
    font-weight: 900;
    background-color: white;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;

    &[type="text"],
    &[type="search"] {
        cursor: text !important;
    }

    &:hover {
        color: var(--accent-color-hover) ;
        box-shadow: none;
    }

    &::placeholder {
        color: var(--accent-color);
    }
}

#searchForm {
    z-index: 9999;
    background-color: white;
    position: sticky;
    top: 120px;
    display: flex;
    padding: 8px;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    #searchInput {
        width: max(50%, 300px);
    }
}

.tableContainer {
    height: 100%;
    width: 100%;
    margin: 1rem 1rem 0;
    scrollbar-width: thin;
}

#quoteTable {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th {
        position: sticky;
        top: 165px;
        background-color: #f0f0f0;
        padding: 0.5rem 1rem;
        z-index: 999;
    }

    tr:has(td) {
        opacity: 0;
    }

    td {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        border-bottom: 1px solid #f0f0f0;
        user-select: text;
    }

    .fadeIn {
        animation-name: fadeIn;
        animation-duration: 500ms;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
    }

    .quoteContent {
        word-break: break-all;
    }
}

@media screen and (max-width: 540px) {
    #serverIcon {
        width: 72px !important;
        height: 72px !important;
    }

    #serverName {
        font-size: 26px;
    }

    #basicInfo,
    #settings {
        flex-direction: column;

        button {
            width: 100%;
        }
    }
}