@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --accent-color: #551100;
    --tets: #F9CDBC;
    --accent-color-hover: #EE6C49;
}

html {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
    user-select: none;
    scrollbar-gutter: stable both-edges;

    body {
        margin: 80px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("/static/assets/GridBG.png");
    }
}

.hidden {
    display: none !important;
    animation-play-state: paused !important;
}

.rotated {
    transform: rotate(180deg);
}

nav {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0 40px;
    margin: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 9999;

    h1 {
        align-items: center;
        margin: 0;
        font-family: "Nunito", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        display: flex;
        -webkit-text-stroke: 8px var(--accent-color);
        paint-order: stroke fill;

    }

    >div {
        width: 100%;
        max-width: 978px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            height: 100%;
            text-align: center;
            align-content: center;
            color: var(--accent-color) !important;
            font-size: 20px;
            font-weight: 900;
            transition:
                color 200ms,
                text-shadow 200ms;
            text-decoration: none;
            flex-grow: 1;

            margin: 0 6px;
            min-width: 50px !important;
            max-width: 100px !important;
            flex-grow: 1;
            flex-shrink: 1;

            &:hover {
                color: var(--accent-color-hover) !important;
            }
        }

        .login {
            cursor: pointer;
        }

        #user {
            height: 100%;
            pointer-events: visibleStroke;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            color: var(--accent-color);
            font-weight: 800;
            font-size: 20px;
            transition:
                color 200ms,
                text-shadow 200ms;
            min-width: 50px !important;
            max-width: 400px !important;

            &:hover {
                color: var(--accent-color-hover) !important;
            }

            #username {
                padding-left: 0.5rem;
                max-width: 80%;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            #userAvatar {
                border-radius: 100%;
            }

            #caret {
                margin-left: 0.25rem;
            }
        }

        .popout {
            display: flex;
            flex-direction: column;
            padding: 0.25rem 0.5rem;
            position: absolute;
            background: #ef78a6;
            top: 2.5rem;
            right: 1vw;
            text-align: center;
            border-radius: 24px;
            box-sizing: content-box;
            box-shadow: 4px 4px #eed9f2;

            #logout,
            a {
                border-radius: 8px;
                color: rgb(255, 255, 255);
                cursor: pointer;
                padding: 0.5rem 0.75rem;
                transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
                text-decoration: none;
                line-height: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            #logout:hover {
                color: rgb(236, 84, 84);
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}

#content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: calc(100vh - 80px);

    main {
        width: calc(100vw - 350px);
        background-color: rgb(255, 255, 255, 0.95);
        margin: 12px;
        padding: 6px 12px;
    }

    aside {
        background-color: #fcf7fd;
        margin: 12px 12px 12px 0px;
        max-width: 350px;
        min-width: 350px;
        position: sticky;
        max-height: calc(100vh - 92px - 12px);
        top: 92px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

discord-widget {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;

    widget-member-name {
        color: #0c0c0d;
    }

    widget-footer {
        background-color: hsl(0, 0%, 99%) !important;
        color: #000000 !important;
        padding: 6px !important;
        widget-footer-info {
            text-align: center;
            align-content: center;
            justify-content: center;
            margin-right: 6px;
            opacity: 0.25 !important;
        }
    }
}

@media screen and (max-height: 580px) {
    #content {
        height: auto !important;
    }
}