@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    user-select: none;

    body {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("/static/assets/GridBG.png");
        width: calc(max(70vw, min(1440px, 100vw)) - 2rem);
        margin: auto;
        padding: 0 2rem 2rem;
    }
}

.hidden {
    display: none !important;
    animation-play-state: paused !important;
}

.rotated {
    transform: rotate(180deg);
}

nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 1rem 0 -0.5rem;
        font-size: 80px;
        color: #ef78a6;
        text-shadow: 4px 4px #eed9f2;
        font-weight: 900;
    }

    >div {
        width: 100%;
        padding: 0.4rem 0.9rem;
        background-color: #ef78a6;
        border-radius: 100px;
        display: flex;
        justify-content: space-evenly;
        box-shadow: 4px 4px #eed9f2;
        position: relative;

        a {
            color: #fff !important;
            font-size: 18px;
            font-weight: 800;
            transition:
                color 200ms,
                text-shadow 200ms;
            text-decoration: none;
            text-shadow: 0px 0px #eed9f2;
            flex-grow: 1;
            text-align: center;
            margin: 0 6px;
            min-width: 50px !important;
            max-width: 100px !important;
            flex-grow: 1;
            flex-shrink: 1;

            &:hover {
                color: rgb(246, 236, 248) !important;
                text-shadow: 1px 1px 1px black;
            }
        }

        .login {
            cursor: pointer;
        }

        #user {
            pointer-events: visibleStroke;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            margin: 0 6px;
            color: white;
            font-weight: 800;
            transition:
                color 200ms,
                text-shadow 200ms;
            min-width: 50px !important;
            max-width: 200px !important;

            &:hover {
                color: rgb(246, 236, 248) !important;
                text-shadow: 1px 1px 1px black;
            }

            #username {
                padding-left: 0.5rem;
                max-width: 80%;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            #userAvatar {
                border-radius: 100%;
                padding: 2px;
            }

            #caret {
                margin-left: 0.25rem;
            }
        }

        .popout {
            display: flex;
            flex-direction: column;
            padding: 0.25rem 0.5rem;
            position: absolute;
            background: #ef78a6;
            top: 2.5rem;
            right: 1vw;
            text-align: center;
            border-radius: 24px;
            box-sizing: content-box;
            box-shadow: 4px 4px #eed9f2;

            #logout,
            a {
                border-radius: 8px;
                color: rgb(255, 255, 255);
                cursor: pointer;
                padding: 0.5rem 0.75rem;
                transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;
                text-decoration: none;
                line-height: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            #logout:hover {
                color: rgb(236, 84, 84);
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}

#content {
    width: 100%;
    height: max(calc(100vh - 16rem), 400px) !important;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: #f1b4cc;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    border: #c0c0c0 solid 1.5px;
    box-shadow: 4px 4px #eed9f2;

    main {
        width: 70%;
        background-color: #fcf7fd;
        overflow-y: auto;
        scrollbar-color: #eed9f2 #c0c0c0;
        scrollbar-width: thin;
        margin: 12px;
        border: 1.5px solid #c0c0c0;
        padding: 6px 12px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    aside {
        background-color: #fcf7fd;
        border-left: #c0c0c0 solid 1.5px;
        margin: 12px 12px 12px 0px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        overflow: hidden;
        max-width: 30% !important;
        min-width: 30% !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

discord-widget {
    border-radius: 0 !important;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;

    widget-member-name {
        color: #0c0c0d;
    }

    widget-footer {
        padding: 0px !important;

        widget-button-join {
            width: 100% !important;
            border-radius: 0 !important;
            height: 40px !important;
        }
    }
}

@media screen and (max-height: 580px) {
    #content {
        height: auto !important;
    }
}